body{
    background-color: grey;
}

@mixin NameProperty{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
   

}

@mixin rightSideProperty{
    text-transform: uppercase;
    font-size: 20px;
   
}

@mixin description{
    height: auto;
    width: auto;
    margin-bottom: 10px;
    
}







#container{ 
    width:1000px;
    height: auto;
    margin:auto;
    display:grid;
    grid-template-columns: auto;
    grid-template-areas:"searchBar"
                        "movieTitle"
                        
                        ;





.searchBar{
    grid-area:searchBar;
    margin:auto;
    margin-top:100px;
    width:1000px;

    #search{
        width: 90%;
        height: 30px;
        border-radius: 6px;
        border:3px solid rgba(84, 172, 223, 0.6);
    }

    #btn{
        width: 70px;
        height: 36px;
    }


}

.movieTitle{
    grid-area: movieTitle;
    margin:auto;
    margin-top:50px;
    font-size: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
}


.mainContent{
    width:1000px;
    margin:auto;
    display:grid;
    gap:10px;
    grid-template-columns: 40% 60%;
    grid-template-areas:"leftSide rightSide" ;


    .leftSide{
        grid-area:leftSide;

        .poster{
            width:490px;
            height: 50%;
            margin-left: 20px;

            img{
                width:auto;
                height: 90%;
            }

        }

    }


    .rightSide{

        grid-area:rightSide;


        .director{
            @include description;
           

            .NameD{

                @include NameProperty;
                
            }

            .DirectorName{
                @include rightSideProperty;
                

            }
        }

        .Actors{
            @include description;


            .NameA{

                @include NameProperty;
                
            }

            .ActorsName{
                @include rightSideProperty;
                

            }
        }

        .Country{
            @include description;

            .NameC{

                @include NameProperty;
                
            }

            .CountryName{
                @include rightSideProperty;
                

            }
        }

        .Year{
            @include description;

            .NameY{

                @include NameProperty;
                
            }

            .YearName{
                @include rightSideProperty;
                

            }
        }

        .Genre{
            @include description;

            .NameG{

                @include NameProperty;
                
            }

            .GenreName{
                @include rightSideProperty;
                

            }
        }

        .Plot{
            @include description;

            .NameP{

                @include NameProperty;
                
            }

            .PlotName{
                @include rightSideProperty;
                

            }
        }

        .Rating{
            @include description;

            .NameR{

                @include NameProperty;
                
            }

            .RatingName{
                @include rightSideProperty;
                

            }
        }



        


    }






}









}