body{
    background-color: rgba(7, 6, 6, 0.8);
    font-family: 'Lato', sans-serif;
    Box-sizing: border-box;
    margin:0;
}

@mixin NameProperty{
    text-transform: uppercase;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 2px;
    color:rgba(143, 140, 140, 0.329);
    
   

}

@mixin rightSideProperty{
    text-transform: uppercase;
    font-size: 20px;
    color: rgba(143, 136, 136, 0.726);
   
}

@mixin description{
    height: auto;
    width: auto;
    margin-bottom: 10px;
    
}

#container{ 
    width:1000px;
    height: auto;
    margin:auto;
    display:grid;
    grid-template-columns: auto;
    grid-template-areas:"searchBar"
                        "movieTitle"
                        
                        ;

.searchBar{
    grid-area:searchBar;
    margin:auto;
    margin-top:100px;
    width:100%;

    #search{
        width: 91%;
        height: 30px;
        border-radius: 6px;
        border:3px solid rgba(84, 172, 223, 0.6);
        background-color: rgba(207, 202, 202, 0.932);
        
    }

    .btn{

        border: rgba(65, 76, 104, 0.795);
        color:red;

    }

    .btn2{
        color:black;
        border: rgba(65, 76, 104, 0.795);
    }

    #btn{
        width: 70px;
        height: 38px;
        cursor: pointer;
        background-color: rgba(65, 76, 104, 0.795);
        border-radius: 5px;
        border:
        rgba(65, 76, 104, 0.795);
       

        &::before{
            font: normal normal normal 14px/1 FontAwesome;
            content: '\f002';
            display:block;
        }

        &:hover{
            opacity:0.7
        }
    }
}

.movieTitle{
    grid-area: movieTitle;
    margin:auto;
    margin-top:50px;
    margin-bottom: 50px;
    font-size: 60px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color:rgba(107, 105, 105, 0.747);

}

.mainContent{
    width:auto;
    margin:auto;
    display:grid;
    gap:20px;
    grid-template-columns: 30% 65%;
    grid-template-areas:"leftSide rightSide" ;

    .leftSide{
        grid-area:leftSide;

        .poster{
            width:auto;
           
            img{
                width:100%;
                height:50%;
            }
        }
    }


    .rightSide{

        grid-area:rightSide;
        margin:auto;



        .director{
            @include description;
           

            .NameD{

                @include NameProperty;
                
            }

            .DirectorName{
                @include rightSideProperty;
                

            }
        }

        .Actors{
            @include description;


            .NameA{

                @include NameProperty;
                
            }

            .ActorsName{
                @include rightSideProperty;
                

            }
        }

        .Country{
            @include description;

            .NameC{

                @include NameProperty;
                
            }

            .CountryName{
                @include rightSideProperty;
                

            }
        }

        .Year{
            @include description;

            .NameY{

                @include NameProperty;
                
            }

            .YearName{
                @include rightSideProperty;
                

            }
        }

        .Genre{
            @include description;

            .NameG{

                @include NameProperty;
                
            }

            .GenreName{
                @include rightSideProperty;
                

            }
        }

        .Plot{
            @include description;

            .NameP{

                @include NameProperty;
                
            }

            .PlotName{
                @include rightSideProperty;
                

            }
        }

        .Rating{
            @include description;

            .NameR{

                @include NameProperty;
                
            }

            .RatingName{
                @include rightSideProperty;
                

            }
        }
    }
}
};

@media only screen and(max-width: 500px){

    body{ 
     display: table-cell;
     vertical-align: middle;
    }

    #container{
      
        width:56vh;
        display: grid;
        margin:auto;
        grid-column: 1;
        grid-template-columns:1fr;
        grid-template-areas: "searchBar"
                            "movieTitle"
                            "mainContent" 
                            "leftSide"
                           "rightSide" ;



        .searchBar{

            grid-area: searchBar ;
            width:100%;
            margin:0;
         
            #search{
             font-size: 23px;  
             width:70%;
             height: 6vh;
             width:75%;
             display:inline;
            }

            #btn{
                width:22%;
                height: 7vh;
                width:20%;
            }
        }


            .movieTitle{
                grid-area:movieTitle ;
               font-size:large;
               margin-top:40px;
               height: 20px;
               color:rgba(231, 179, 81, 0.856);
            }

            .mainContent{
                display:grid;
                grid-template-columns: 1fr;
                grid-template-areas: "leftSide"
                                    "rightSide";

                .leftSide{
                    grid-area:leftSide ;
                    width:100%;
                 
                }

                .rightSide{
                    grid-area:rightSide ;
                    width:100%;

                    .director{
                    .NameD{
                        font-size: small;
                        
                    }
                }

                .Actors{
                    .NameA{
                        font-size: small;
                        
                    }

                }

                .Country{
                    .NameC{
                        font-size: small;
                        
                    }

                }

                .Year{
                    .NameY{
                        font-size: small;
                        
                    }
                }

                .Genre{
                    .NameG{
                        font-size: small;
                        
                    }
                }

                .Plot{
                    .NameP{
                        font-size: small;
                        
                    }
                }

                .Rating{
                    .NameR{
                        font-size: small;
                        
                    }
                }

                }

            }
    }
};
